<!DOCTYPE html>
<html ng-app="homeModule">
<head>
    <!--This is the linked css stylesheet for Google Smart Search Widget. This link will provide how images and text will
     appear under the drop down menu
     User can define how wide the menu can be
     the z-index helps bring the search menu to the front instead of being overlapped by other textboxes-->
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <style>
        .kge-search-picker {
            width: 700px;
            z-index: 5;
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rectangle Mobile Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Rectangle Template
    http://www.templatemo.com/preview/templatemo_439_rectangle
    -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <style type='text/css'>
        .partition1 {
            width: 35%;
            float: left;
            margin-right: 10px;
            font-size:130%
        }

        .partition2 {
            width: 55%;
            float: right;
            font-size:130%
        }

        .partition-wrap {
            overflow: hidden;
            margin-bottom: 20px;
        }

        td{
            margin: 5px;
        }

    </style>
</head>
<!-- Added a new controller named newController which is used to handle the second
 task: the Text-to-Speech API. This is meant for good practice only, especially in case
 of an app that relies on multiple API calls and features. Separation of Concern.-->
<body ng-controller="homeController">
<div ng-controller="newController">
    <audio id = "audio"> <!--This is an audio element, whose source will be processed
    by the home.js and newController-->
        <source ng-src={{audiosrc}}>
        Your browser does not support the audio element.
    </audio>
</div>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="site-bg"></div>
<!--
<div class="site-bg-overlay"></div>
-->

<!-- TOP HEADER -->
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="phone-info">Email us:<a href="#">dhh3hb@mail.umkc.edu</a></p>
            </div>
        </div>
    </div>
</div> <!-- .top-header -->


<div class="visible-xs visible-sm responsive-menu">
    <a href="#" class="toggle-menu">
        <i class="fa fa-bars"></i> Open Menu
    </a>
    <div class="show-menu">
        <ul class="main-menu">
            <li>
                <a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>Home</a>
            </li>
            <li>
                <a class="show-3 aboutbutton" href="#"><i class="fa fa-search"></i>Open SwiftSearch Engine</a>
            </li>
            <li>
                <a class="show-4 contactbutton" href="#"><i class="fa fa-envelope"></i>Contact</a>
            </li>
        </ul>
    </div>
</div>

<div class="container" id="page-content">
    <div class="row">


        <div class="col-md-9 col-sm-12 content-holder">
            <!-- CONTENT -->
            <div id="menu-container">


                <div id="menu-1" class="homepage home-section text-center">
                    <div class="welcome-text">
                        <h2>Hello, Welcome to <strong>Find Your Food Stats</strong></h2>
                        <p>Find Your Food Stats is  <span class="orange">Mashup Web Application</span> which is build using <span class="orange">Nutritionix and Watson's Text-to-Speech API
                        </span>. This application will help determine the approximate calories and serving size in grams of each type of dish! Please try typing in your favorite Dish</p>
                        <br/>
                        <form action="#" method="get" class="subscribe-form">
                            <div class="row">
                                <fieldset class="col-md-offset-2 col-md-6">
                                    <input name="subscribe-email" type="email" class="email" id="subscribe-email"
                                           placeholder="Write your email here..">
                                </fieldset>
                                <fieldset class="col-md-4 button-holder">
                                    <input name="submit" type="submit" class="button default" id="submit"
                                           value="Submit">
                                </fieldset>
                            </div>
                            <p class="subscribe-text">Please subscribe your email for latest updates!</p>
                        </form>
                    </div>
                </div>
                <div id="selectedID" style="display:none"></div>
                <div id="menu-2" class="content about-section">
                    <div class="row">
                        <div class="col-md-8 col-sm-8" style="width: 100%;">
                            <div class="box-content profile">
                                <h3 class="widget-title">Search with SwiftSearch!</h3>

                                <form class="contact-form">
                                    <fieldset>
                                        <!--lookupInfo() is the first main function of the page
                                        as it will jump to the home.js file and execute the its definition
                                        which will call the API based on the input, process and filter the returned JSON
                                        file and produce an array of variables
                                        that contains meaningful information -->
                                        <p>Name : <span style = "display: inline" id = "userName" ></span></p>
                                        <p>Email : <span style = "display: inline" id = "userEmail"></span></p>
                                        <script>
                                            // Check browser support
                                            if (typeof(Storage) !== "undefined") {
                                                // Retrieve
                                                document.getElementById("userName").innerHTML = localStorage.getItem("Name");
                                                document.getElementById("userEmail").innerHTML = localStorage.getItem("Email");
                                            } else {
                                                document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
                                            }
                                        </script>
                                        <button id="start-record-btn" title="Start Recording">Start Recognition</button>
                                        <button id="pause-record-btn" title="Pause Recording">Pause Recognition</button>
                                        <p id="recording-instructions">Press the <strong>Start Recognition</strong> button and allow access.</p>
                                        <input type="text" id="myInput" ng-model="myInput" style ="width: 100%" placeholder="Search Something...">
                                        <input type="button" id= "hiddenB" class="button" style="display:none"
                                               ng-click="lookupInfo()" value="hidden" >
                                        <script type="text/javascript">
                                            KGSearchWidget("AIzaSyB087vg5c4hTnohVi4sjP63cHv4Eh3jt2s", document.getElementById("myInput"), {
                                                "selectHandler": function(e) {
                                                    document.getElementById("selectedID").innerHTML = e.row.id;
                                                    document.getElementById("hiddenB").click();
                                                    //alert("selected " + document.getElementById("selectedID").innerHTML);
                                                }
                                            });
                                        </script>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <div class="box-content">
                                <h3 class="widget-title" style="font-weight: 600; ">Food Statistics Report</h3>
                                <!--This report is a modified version of the "How To Make" report of the tutorial
                                In it, name, amount of calories and serving size will be displayed
                                I removed the second report (Where to eat) because it is no longer needed
                                The other API does not return text and does not need to be displayed.-->
                                <div class="project-item" >
                                    <li ng-repeat="r in foodList">
                                        <h4 class="widget-title">{{r.name}}</h4>
                                        <div class="partition-wrap">
                                            <div class="partition1">
                                                Calories: <a href="{{r.calories}}"> {{r.calories}}</a>
                                            </div>
                                            <div class="partition2">
                                                Serving size in Grams: <a href="{{r.serving}}"> {{r.serving}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <div class = "stage" style = "background-color:beige;">
                                        No Info Yet!
                                    </div>
                                    <p align="center">
                                        <img id="img" src ="">
                                    </p>


                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-7 col-sm-7">
                            <div class="box-content">
                                <h3 class="widget-title" style="font-weight: 600">Where To Get</h3>
                                <div style="margin-bottom: 20px;">
                                    <li ng-repeat="venue in venueList" style="margin-bottom: 10px;">
                                        <a  href="" ng-click="getReviews(venue)">{{venue.name}}</a>
                                    </li>
                                </div>
                                <div id="div_ReviewList" style="display:none;"  >


                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div id="menu-4" class="content contact-section">
                    <div class="row">
                        <div class="col-md-8 col-sm-8" style="width: 100%">
                            <div class="box-content">
                                <h3 class="widget-title">Send Us A Message</h3>
                                <form class="contact-form">
                                    <fieldset>
                                        <input type="text" class="name" id="name" placeholder="Name...">
                                    </fieldset>
                                    <fieldset>
                                        <input type="email" class="email" id="email" placeholder="Email...">
                                    </fieldset>
                                    <fieldset>
                                        <input type="text" class="subject" id="subject" placeholder="Subject...">
                                    </fieldset>
                                    <fieldset>
                                        <textarea name="message" id="message" cols="30" rows="4"
                                                  placeholder="Message.."></textarea>
                                    </fieldset>
                                    <fieldset>
                                        <input type="submit" class="button" id="button" value="Send Message">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-md-3 hidden-sm">

            <nav id="nav" class="main-navigation hidden-xs hidden-sm">
                <ul class="main-menu">
                    <li>
                        <a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a class="show-2 aboutbutton" href="#"><i class="fa fa-search"></i>Look up Food Stats</a>
                    </li>
                    <li>
                        <a class="show-5 contactbutton" href="#"><i class="fa fa-envelope"></i>Contact</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>

<!-- SITE-FOOTER -->
<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            </div>
        </div>
    </div>
</div> <!-- .site-footer -->

<script src="js/vendor/jquery-1.10.2.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-resource.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
<script src="js/home.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script src="js/googleOauth.js"></script>
<script src="js/angularOauth.js"></script>
<script src="js/speechReg.js"></script>
<!-- templatemo 439 rectangle -->

</body>
</html>