<!--Welcome to SwiftSearch Engine
 In this lab assignment, our main concern is to implement 2 APIs, Google Authentication with HTML5 Local Storage.

 The 2 APIs that we will be using today is Speech-To-Text API,
 and also the Google Knowledge Graph API, one of the provided services in the API list


 The purpose of the project is to construct a smart search engine using both typed text and speech to construct search results.
 Users have 2 options to search: type or speak. The search will be automatically queried and displayed by the Google Knowledge Graph
 A list of results (approximately 10 items) will be displayed for user to choose.-->

<!DOCTYPE html>
<html ng-app="homeModule">
<head>
    <!--This is the linked css stylesheet for Google Smart Search Widget. This link will provide how images and text will
     appear under the drop down menu
     User can define how wide the menu can be
     the z-index helps bring the search menu to the front instead of being overlapped by other textboxes-->
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <style>
        .kge-search-picker {
            width: 700px;
            z-index: 5;
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rectangle Mobile Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Rectangle Template
    http://www.templatemo.com/preview/templatemo_439_rectangle
    -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <style type='text/css'>
        .partition1 {
            width: 35%;
            float: left;
            margin-right: 10px;
            font-size:130%
        }

        .partition2 {
            width: 55%;
            float: right;
            font-size:130%
        }

        .partition-wrap {
            overflow: hidden;
            margin-bottom: 20px;
        }

        td{
            margin: 5px;
        }

    </style>
</head>
<!-- Added a new controller named newController which is used to handle the second
 task: the Text-to-Speech API. This is meant for good practice only, especially in case
 of an app that relies on multiple API calls and features. Separation of Concern.-->
<body ng-controller="homeController">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="site-bg"></div>
<!--
<div class="site-bg-overlay"></div>
-->

<!-- TOP HEADER -->
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="phone-info">Email us: <a href="mailto:dhh3hb@mail.umkc.edu">Duy Ho</a></p>
            </div>
        </div>
    </div>
</div> <!-- .top-header -->


<div class="visible-xs visible-sm responsive-menu">
    <a href="#" class="toggle-menu">
        <i class="fa fa-bars"></i> Open Menu
    </a>
    <div class="show-menu">
        <ul class="main-menu">
            <li>
                <a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>Home</a>
            </li>
            <li>
                <a class="show-3 aboutbutton" href="#"><i class="fa fa-search"></i>Open SwiftSearch Engine</a>
            </li>
            <li>
                <a class="show-4 contactbutton" href="#"><i class="fa fa-envelope"></i>Contact</a>
            </li>
        </ul>
    </div>
</div>

<div class="container" id="page-content">
    <div class="row">


        <div class="col-md-9 col-sm-12 content-holder">
            <!-- CONTENT -->
            <div id="menu-container">


                <div id="menu-1" class="homepage home-section text-center">
                    <div class="welcome-text">
                        <h2>Hello, Welcome to <p style="color:#ff0000"><strong>Search Engine</strong></p></h2>
                        <p>SwiftSearch is  <span class="orange">Mashup Web Application</span> which takes the benefit of <span class="orange">Google Knowledge Graph API and Speech-To-Text API
                        </span>. This application will strive to deliver the most comfortable searching experience to <strong>YOU</strong></p>
                        <br/>
                        <form action="#" method="get" class="subscribe-form">
                            <div class="row">
                                <fieldset class="col-md-offset-2 col-md-6">
                                    <input name="subscribe-email" type="email" class="email" id="subscribe-email"
                                           placeholder="Write your email here..">
                                </fieldset>
                                <fieldset class="col-md-4 button-holder">
                                    <input name="submit" type="submit" class="button default" id="submit"
                                           value="Submit">
                                </fieldset>
                            </div>
                            <p class="subscribe-text">Please leave your email for latest updates!</p>
                        </form>
                    </div>
                </div>
                <div id="selectedID" style="display:none"></div>
                <div id="menu-2" class="content about-section">
                    <div class="row">
                        <div class="col-md-8 col-sm-8" style="width: 100%;">
                            <div class="box-content profile">
                                <h3 class="widget-title">Search with SwiftSearch!</h3>

                                <form class="contact-form">
                                    <fieldset>
                                        <!--lookupInfo() is the first main function of the page
                                        as it will jump to the home.js file and execute the its definition
                                        which will call the Google Knowledge Graph API based on the input passed from the
                                        function KGSearchWidget(), process and filter the returned JSON
                                        file to extract important pieces of information such as name, description, detailedDescription,
                                        and imageURL-->

                                        <!-- The following code presents the concept of Local Storage in HTML5 where the browser can retain
                                        some information from the previous page using localStorage.setItem and localStorage.getItem

                                        Local Storage can also be used with indexing for storing and retrieving information as well.
                                        E.g: localStorage[0] = "value"

                                        In this mash up page, Local Storage will be used mainly for retaining email and name of the signed in user-->
                                        <p>Name : <span style = "display: inline" id = "userName" ></span></p>
                                        <p>Email : <span style = "display: inline" id = "userEmail"></span></p>
                                        <script>
                                            // Check browser support
                                            if (typeof(Storage) !== "undefined") {
                                                // Retrieve
                                                document.getElementById("userName").innerHTML = localStorage.getItem("Name");
                                                document.getElementById("userEmail").innerHTML = localStorage.getItem("Email");
                                            } else {
                                                document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
                                            }
                                        </script>


                                        <!--This is the second API that is implemented in the Mashup page. This is the built-in Speech-to-Text API
                                         that is only available with Google Chrome version 26 or later. If you are using Edge or Mozilla Firefox, there
                                         is a high probability that this API will not be able to work

                                         IDEA: Instead of using Google Cloud Speech-To-Text API that is only available for Server Side processing, this built-in client
                                         Javascript API is useful for short speech-to-text conversion, especially only a couple of seconds, ideal for search engine.

                                         DESIGN: There are 2 buttons in the layout, one for starting the recognition, and the other for pausing the recognition.
                                         Once given the permission to access the microphone, the web page will listen to the user for as long as the user says
                                         and as long as the user does not keep silent for more than 10-15 seconds, the application will keep listening.

                                         SETTING UP PERMISSION: Because of security issues from running local html files, developers using this API are highly recommended
                                         to run the html containing this API within a server, either local or deployed in order to gain access to the hardware components such as
                                         the microphone. As a personal experience, I have tried running this as a local .html file by opening the newhome.html in the browser but failed continuously
                                         even after clicking "Allow Microphones for this site" because the browser by default would not grant the microphones
                                         to offline/local files runnning without a server. Therefore, after I set a server up using Servez (which stands for Server Easy).
                                         I have successfully run this API after being granted permission to the microphone. The URL should look similar to this:

                                                            http://localhost:8080/Documents/GitHub/CS5551-team7-1-labassignments/Source/newhome.html

                                         Disclaimer: This is still an under-development technology therefore not guaranteed to have 100% accuracy on the translation/conversion. If the webpage does not
                                         work on your browser, consider using Google Chrome latest version, or refer to my video for a successful output-->
                                        <button id="start-record-btn" title="Start Recording">Start Recognition</button>
                                        <button id="pause-record-btn" title="Pause Recording">Pause Recognition</button>
                                        <p id="recording-instructions">Press the <strong>Start Recognition</strong> button and allow access.</p>
                                        <!-- the Text input myInput is used to contain the text from the Speech-To-Text API and also acts as the search =
                                        bar for the drop down menu from KGSearchWidget-->
                                        <input type="text" id="myInput" ng-model="myInput" style ="width: 100%" placeholder="Search Something...">
                                        <input type="button" id= "hiddenB" class="button" style="display:none"
                                               ng-click="lookupInfo()" value="hidden" >
                                        <script type="text/javascript">
                                            KGSearchWidget("AIzaSyB087vg5c4hTnohVi4sjP63cHv4Eh3jt2s", document.getElementById("myInput"), {
                                                /*This function is invoked whenever an item in the dropdown list is selected.
                                                In this case, I programmed it in a way that whenever something is click,
                                                    save it in the selectedID html variable (which will be used in the lookupInfo() later on
                                                    execute the lookupInfo() function using a hidden button
                                                **This may not be best practice for invoking another javascript function within a javascript function
                                                * But it does the job for now. Feedback will be greatly appreciated.
                                                */
                                                "selectHandler": function(e) {
                                                    document.getElementById("selectedID").innerHTML = e.row.id;
                                                    document.getElementById("hiddenB").click();
                                                }
                                            });
                                        </script>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <div class="box-content">
                                <h3 class="widget-title" style="font-weight: 600; ">Search Results</h3>
                                <!--This report is used to display result from an item that the user clicks on.
                                For example, if user clicks on the first item.
                                The item's information and image (if any) will be sent to this box-content.
                                image's source is left blank so that it can be inserted later.-->
                                <div class = "stage" style = "background-color:beige;">
                                    No information selected
                                </div>
                                <p align="center">
                                    <img id="img" src ="">
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu-4" class="content contact-section">
                <div class="row">
                    <div class="col-md-8 col-sm-8" style="width: 100%">
                        <div class="box-content">
                            <h3 class="widget-title">Send Us A Message</h3>
                            <form class="contact-form">
                                <fieldset>
                                    <input type="text" class="name" id="name" placeholder="Name...">
                                </fieldset>
                                <fieldset>
                                    <input type="email" class="email" id="email" placeholder="Email...">
                                </fieldset>
                                <fieldset>
                                    <input type="text" class="subject" id="subject" placeholder="Subject...">
                                </fieldset>
                                <fieldset>
                                        <textarea name="message" id="message" cols="30" rows="4"
                                                  placeholder="Message.."></textarea>
                                </fieldset>
                                <fieldset>
                                    <input type="submit" class="button" id="button" value="Send Message">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div>new text</div>
                </div>
            </div>

        </div>


        <div class="col-md-3 hidden-sm">

            <nav id="nav" class="main-navigation hidden-xs hidden-sm">
                <ul class="main-menu">
                    <li>
                        <a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a class="show-2 aboutbutton" href="#"><i class="fa fa-search"></i>SwiftSearch Engine</a>
                    </li>
                    <li>
                        <a class="show-5 contactbutton" href="#"><i class="fa fa-envelope"></i>Contact</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>

<!-- SITE-FOOTER -->
<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            </div>
        </div>
    </div>
</div> <!-- .site-footer -->

<script src="js/vendor/jquery-1.10.2.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-resource.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
<script src="js/home.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script src="js/googleOauth.js"></script>
<script src="js/angularOauth.js"></script>
<script src="js/speechReg.js"></script>
<!-- templatemo 439 rectangle -->

</body>
</html>

